.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid black;
  color: black;
}
